* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    border-bottom:2px #efefef solid;
    margin: 0;
    background: #efeee7;
    background-image: url("/assets/images/qbkls.png");
}
.navbar {
    padding:0px;
    border-bottom:#cccc 2px solid;

}
.nav-link {
    color: grey;
    font-size:small;

}
.navbar-header
.navbar-brand.h1{
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
.jumbotron {
    margin: 80px 30px 10px 30px;
    background-color:white;
    padding: 10px 0px 10px 10px;
}
h2.fontfam {
    margin: 10px 20px 0px 10px;
    border-bottom: #cccc solid 1px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
#myface {
    margin:10px;
}
p {
    padding:10px;
    font-size:small;
    margin:0px 10px 0px 10px;

}