
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background: #efeee7;
  font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  background-image: url("../images/qbkls.png");
}
header {
  background: #ffffff;
  height:60px;
  float:none;
  margin:0;
  border-bottom:#cccc 2px solid;
}
h1 {
  float:left;
  margin: 0px 50px 0px 50px;
  padding: 15px 20px;
  font-size: 25px;
  color: #eee;
  border-bottom: #cccc 2px solid;
  background-color:#4aaaa5;
  height:60px;
  font-family: 'Georgia', Times, Times, serif;
}
ul {
  list-style-type: none;
  overflow:hidden;
  margin-right: 50px;
}
li a {
    float:right;
    display:inline-block;
    padding: 20px;
    background-color:white;
    text-decoration: none;
    color: #b1b1b1;
    font-size: 12px;
}
section.clear{ 
    clear:both;
}
.aboutmebox, .portfoliobox {
  float:none;
  margin: 10px 50px;
  border: 1.5px #cccc solid;
  height: 100%;
  background-color:white;
}
.clearfix::after {
  content: "";
  display:block;
  clear:both;
}
.main {
  padding: 10px;
}
h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  color: #4aaaa5;
}
.linerule{
  border-bottom: 1px #cccc solid;
  margin: 0px 10px;
}
img {
  float:left;
  margin: 10px;
}
p {
  padding: 5px;
  font-size: 13px;
  color: #b1b1b1;
  line-height:1.5;
}
.work {
  margin: 10px;
  float: left;
  text-decoration: none;
  background-image: url(/assets/images/240x180.png);
  background-repeat:none;
}
h3 {
  font-size: 16px;
  line-height: 2;
  margin:110px 0px 20px 0px;
  padding: 10px 75px;
  background-color: #4aaaa5;
  color:white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.contactme {
  padding: 10px;
  
}
#name, #email {
  width: 100%;
  padding: 12px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 10px 0px 10px 0px;

}
label[for="name"], select {
  color: #4aaaa5;
  padding: 0px 0px 30px 0px;
}
label[for="email"], select {
  color: #4aaaa5;
  padding: 0px 0px 30px 0px;
}
label[for="message"] {
  color: #4aaaa5;
  margin: 0px 0px 30px 0px;
}
#message {
  width: 100%;
  margin: 10px 0px 10px 0px;
  padding: 10px 20px 300px 10px;
  display: inline-block;
  border: 1px solid #ccc;
}
input[type="submit"] {
  margin: 20px 0px;
  padding:10px 20px;
  background-color: #4aaaa5;
  color: white;
  border: none;
}
.footer {
  background-color: #666;
  text-align:center;
  color:#ccc;
  font-size:12px;
  height:50px;
  padding:30px 0;
  border-top: #4aaaa5 6px solid;
}